<html>
    <%-include('../main/header') %>
    <body>

        <form action="/user/insert" method="POST">
            이메일 = <input type="email" name ="email"><br>
            비밀번호 = <input type="password" class="pwd" name="password"><br>
            비밀번호 확인 = <input type="password" class="pwd" name="passwordCheck"><br>
            이름 = <input type="text" name="name"><br>
            <input type="submit" id="submit" value="Submit">
        </form>
    </body>
    <footer>
        <script>
            $(function(){
                $("#submit").hide();
                $('.pwd').keypress(function(){
                let pwd1 = document.getElementsByName('password');
                let pwd2 = document.getElementsByName('passwordCheck');
                if(pwd1 == pwd2){
                    $('#submit').show();
                }
            });
            })

        </script>
        <%-include('../main/footer') %>
    </footer>

</html>