<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <style>
        body {
        min-height: 100vh;

        /* background: -webkit-linear-gradient(bottom left, #92b5db 0%, #1d466c 100%);
        background: -moz-linear-gradient(bottom left, #92b5db 0%, #1d466c 100%);
        background: -o-linear-gradient(bottom left, #92b5db 0%, #1d466c 100%); */
        /* background: linear-gradient(to top right, #92b5db 0%, #1d466c 100%); */
        }

        .input-form {
        max-width: 680px;

        margin-top: 80px;
        padding: 32px;

        background: #fff;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        -webkit-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
        -moz-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
        box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15)
        }
    </style>
    </head>
    <%-include('../main/header') %>
    <body>

        <div class="container">
            <div class="input-form-backgroud row">
              <div class="input-form col-md-12 mx-auto">
                <h4 class="mb-3">Status</h4>
                <form class="validation-form" novalidate>
                  <div class="row">
                    <div class="col-md-6 mb-3">
                      <label for="name">이름</label>
                      <input type="text" class="form-control" id="name" placeholder="" value="" required>
                      <div class="invalid-feedback">
                        이름을 입력해주세요.
                      </div>
                    </div>
                    <div class="col-md-6 mb-3">
                      <label for="nickname">닉네임</label>
                      <input type="text" class="form-control" id="nickname" placeholder="" value="" required>
                      <div class="invalid-feedback">
                        별명을 입력해주세요.
                      </div>
                    </div>
                  </div>
        
                  <div class="mb-3">
                    <label for="email">이메일</label>
                    <input type="email" class="form-control" id="email" placeholder="you@example.com" required>
                    <div class="invalid-feedback">
                      이메일을 입력해주세요.
                    </div>
                  </div>

                  <div class="mb-3">
                    <label for="email">비밀번호</label>
                    <input type="email" class="form-control" id="email" placeholder="비밀번호를 입력해주세요" required>
                    <div class="invalid-feedback">
                    비밀번호를 입력해주세요.
                    </div>
                  </div>
            

            
                  <div class="mb-3">
                    <label for="email">비밀번호 확인</label>
                    <input type="email" class="form-control" id="email" placeholder="비밀번호를 입력해주세요" required>
                    <div class="invalid-feedback">
                    비밀번호를 입력해주세요.
                    </div>
                  </div>
        
            
        
                  
        
                  <div class="row">
                    <div class="col-md-6 mb-3">
                      <label for="root">부서</label>
                      <select class="custom-select d-block w-100" id="root">
                        <option value=""></option>
                        <option>인사</option>
                        <option>경영</option>
                        <option>재무</option>
                        <option>개발</option>
                      </select>
                      <div class="invalid-feedback">
                        부서를 선택해주세요.
                      </div>
                    </div>

                    <div class="col-md-6 mb-3">
                      <label for="code">직급</label>
                      <select class="custom-select d-block w-100" id="root">
                        <option value=""></option>
                        <option>사원</option>
                        <option>대리</option>
                        <option>과장</option>
                        <option>부장</option>
                        <option>인사</option>
                        <option>사장</option>
                      </select>
                      <div class="invalid-feedback">
                        부서를 선택해주세요.
                      </div>
                    </div>
                    
                </div>

                  <hr class="mb-4">
                  <!-- <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="aggrement" required>
                    <label class="custom-control-label" for="aggrement">개인정보 수집 및 이용에 동의합니다.</label>
                  </div> -->
                  <div class="mb-4"></div>
                  <button class="btn btn-primary btn-lg btn-block" type="submit">변경 완료</button>
                </form>
              </div>
            </div>
            <footer class="my-3 text-center text-small">
            </footer>
        </div>

          <script>
            window.addEventListener('load', () => {
              const forms = document.getElementsByClassName('validation-form');
        
              Array.prototype.filter.call(forms, (form) => {
                form.addEventListener('submit', function (event) {
                  if (form.checkValidity() === false) {
                    event.preventDefault();
                    event.stopPropagation();
                  }
        
                  form.classList.add('was-validated');
                }, false);
              });
            }, false);
          </script>







        <!-- 수정사항 -->

        <form action="/user/insert?_method=patch" method="POST">



            이메일 = <input type="email" name ="email" value="<%= data.email%>"><br>
            비밀번호 = <input type="password" class="pwd" name="password"><br>
            비밀번호 확인 = <input type="password" class="pwd" name="passwordCheck"><br>
            이름 = <input type="text" name="name" value="<%= data.name%>"><br>

            부서 =
            <select name="dept_id"
            <% if(user.position == "사장" || user.position == "인사"){ %>    
                <%}else{%>
                    disabled
                <%}%>
            >
                <option value="0">경영</option>
                <option value="1">인사</option>
                <option value="2">개발</option>

            </select><br>

            직급 =
                <select name="position_id"
                    <% if(user.position == "사장" || user.position == "인사"){ %> 
                        
                    <%}else{%>
                        disabled
                    <%}%>
                >
                  <option value="0">사원</option>
                  <option value="1">대리</option>
                  <option value="2">과장</option>
                  <option value="3">부장</option>
                  <option value="4">인사</option>
                <% if(user.position == "사장"){ %>
                  <option value="5">사장</option>
                <%}%>
                </select><br>
              
             <% if((user.position == "인사" ) || (user.position == "사장")){ %>
                
            <%}%>
            <input type="submit" id="submit" value="Submit">
        </form>
    </body>
    <footer>
        <%-include('../main/footer') %>
    </footer>

</html>