<!DOCTYPE html>
<html>
  <head>
    <%- include('../main/header') %>
  </head>
  <body>
    <%- include('../main/nav') %>

    <div class="container mb-3">

      <h2 class="mb-3">출퇴근</h2>

      <P>출퇴근 기록</p>

    </div>
  </body>
  <%- include('../main/footer') %>
</html>