
  <div class="container">
    <script type="text/javascript" src="/js/scripts.js"></script>
    <script type="text/javascript" src="/jQuery/jquery.min.js"></script>
    <script type="text/javascript" src="/bootStrap/js/bootstrap.min.js"></script>
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">

<div class="navbar-brand"><a href="/" class="nav-link">ComMoney</a></div>

        <div class="row">
              <% if(user){ %>
                  <h4>Welcome, <%= user.name%> 님!</h4>
              <%}%>
        </div>


      

    

      <div class="row-md-5 text-end">
            <% if(user){ %>
                <button type="button" class="btn btn-outline-primary"><a href="/user/signOut">sign out</a></button>
                <button type="button" class="btn btn-outline-primary"><a href="/user/<%= user.id%>">mypage</a></button>
            <%}else{%>
              <%-include('./signModal') %>
            <%}%>

            
            <!-- <button type="button" class="btn btn-outline-primary me-2">Login</button> -->
      </div>
    </div>
      </header>