
  <div class="container">
    <script type="text/javascript" src="/js/scripts.js"></script>
    <script type="text/javascript" src="/jQuery/jquery.min.js"></script>
    <script type="text/javascript" src="/bootStrap/js/bootstrap.min.js"></script>
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">


      <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
      </a>

      <div class="col-md-5 text-end">
        <a href="/">Main</a>
            <% if(user){ %>
                Welcome <%= user.name%>!
                <br>
                <a href="/notice/list">공지 리스트</a>
                <a href="/notice/insert">공지 작성</a>
                <a href="/user/signOut">signOut</a>
                <a href="/user/<%= user.id%>">status</a>
            <%}else{%>
              <%-include('./signModal') %>
            <%}%>
      </div>
      </header>