
  <div class="container">
    <script type="text/javascript" src="/js/scripts.js"></script>
    <script type="text/javascript" src="/jQuery/jquery.min.js"></script>
    <script type="text/javascript" src="/bootStrap/js/bootstrap.min.js"></script>
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">

<div class="navbar-brand"><a href="/" class="nav-link">ComMoney</a></div>

        <div class="row">
              <% if(user){ %>
                  Welcome <%= user.name%>!

                  <div class="col">
                      <a href="/notice/list">공지사항</a>
                  </div>

                  <div class="col">
                      <a href="/notice/insert">공지작성</a>
                  </div>

                  <div class="col">
                      <a href="/about">출퇴근</a>
                  </div>

                  <div class="col">
                      <a href="/..home/about">내 정보</a>
                  </div>
              <%}else{%>
                  <div class="col-4">
                    <a href="/notice/list">공지사항</a>
                  </div>

                  <div class="col">
                    <a href="/about">sample1</a>
                  </div>

                  <div class="col">
                    <a href="/..home/about">sample2</a>
                  </div>
                  <!-- <div class="row">

                      <a href="/notice/list">공지 리스트</a>
                      <a href="/about">sample1</a>
                      <a href="/..home/about">sample2</a>

                  </div> -->
              <%}%>
        </div>


      

    

      <div class="row-md-5 text-end">
            <% if(user){ %>
                <button type="button" class="btn btn-outline-primary"><a href="/user/signOut">sign out</a></button>
                <button type="button" class="btn btn-outline-primary"><a href="/user/<%= user.id%>">status</a></button>
            <%}else{%>
              <%-include('./signModal') %>
            <%}%>

            
            <!-- <button type="button" class="btn btn-outline-primary me-2">Login</button> -->
      </div>
      </header>