<!--공지사항 페이지-->
<html>
    <head>
        <%- include('../main/header.ejs')
        <%- include('../main/nav.ejs')
    </head>
    <body>
        <%- include('../notice/noticeList.ejs')

    </body>
    <footer>
        <%- include('../main/footer.ejs')
    </footer>

</html>