<html>
    <head>
        <%-include('../main/header')%>
    </head>
        <!-- <form method="post" action="/notice/insert">
            제목 = <input type="text" name ="title"><br>
            내용 = <input type="textarea" name="text"><br>
            <input type="submit" id="submit" value="Submit">
        </form> -->
        <div>
            <h5 class="my-3 border-bottom pb-2">공지 등록</h5>
            <form method="post" class="post-form my-3" action="/notice/insert">
                <div>
                    <label for="subject">제목</label>
                    <input type="text" class="form-control" name="subject" id="subject">
                </div>
                <div class="gorm-group">
                    <lable for="content">내용</lable>
                    <textarea class="form-control" name="text" id="content" rows="5"></textarea>
                </div>
        
                <br>
                <button type="submit" class="btn btn-primary">저장하기</button>
            </form>
        </div>
    </body>
        <%-include('../main/footer')%>

    <!-- 공지사항 게시글 등록 폼 -->

    <!-- <div class="row">
        <button><a href="notice/noticeInsert.ejs">등록</button>
    </div>
    include('notice/noticeInsert)