<html>
    <head>
        <%-include('../main/header')%>
    </head>
    <body>
        <form method="post" action="/notice/insert">
            제목 = <input type="text" name ="title"><br>
            내용 = <input type="textarea" name="text"><br>
            <input type="submit" id="submit" value="Submit">
        </form>


        <!-- 아래는 수정사항 -->

        <article>

            <div class="container" role="main">
    
                <h2>공지사항</h2>
    
                <form name="form" id="form" role="form" method="post" action="${pageContext.request.contextPath}/board/saveBoard">
    
                    <div class="mb-3">
    
                        <label for="title">제목</label>
    
                        <input type="text" class="form-control" name="title" id="title" placeholder="제목을 입력해 주세요">
    
                    </div>
    
                    
    
                    <div class="mb-3">
    
                        <label for="content">내용</label>
    
                        <textarea class="form-control" rows="5" name="content" id="content" placeholder="내용을 입력해 주세요" ></textarea>
    
                    </div>
    
                    
    
                    <div class="mb-3">
    
                        <label for="tag">TAG</label>
    
                        <input type="text" class="form-control" name="tag" id="tag" placeholder="태그를 입력해 주세요">
    
                    </div>
    
                
    
                </form>
    
                <div >
    
                    <button type="button" class="btn btn-sm btn-primary" id="btnSave">저장</button>
    
                    <button type="button" class="btn btn-sm btn-primary" id="btnList">목록</button>
    
                </div>
    
            </div>
    
        </article>
    </body>
    <footer>
        <%-include('../main/footer')%>
    </footer>
</html>